/*style.css*/

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000000;
}

main{
  height: 100%;
}

h2{
  font-family: "AshleyCapitaliSofia";
}

.common_pc{
  display: block;
}

@media only screen and (max-width: 960px) {
  .common_pc {
    display: none;
  }
}

.common_sp{
  display: none;
}

@media only screen and (max-width: 960px){
  .common_sp{
    display: block;
  }
}

main,footer{
  padding: 0 0 0 155px;
}
@media only screen and (max-width: 960px) {
  main, footer{
    padding: 65px 0 0;
  }
}

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 155px;
  padding: 10px 0;
  border-right: 0.5px solid #eee; 
  background: rgba(192, 212, 219, 0.9);
}

.header_wrap .header_logo{
  display: block;
  width: 80%;
  margin: 0px auto;
  text-decoration: none;
}

.header_wrap .header_logo p {
  display: block;
  width: 100%; 
  display: block;
  width: 100%;
  font-family: "futura";
  font-size: 30px;
  text-align: center;
}

.header_wrap .header_nav {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.header_wrap .header_nav .header_nav_item{
  margin: 0 0 30px;
  text-align: center;
}

.header_wrap .header_nav .header_nav_item .header_nav_link {
  font-family: "sofia-pro-condensed",cursive;
  color: #000000;
  font-size: 17px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;  
}

.header_wrap .header_nav .header_nav_item .header_nav_link:hover {
  color: #c0c0c0;
}

.sp_header_wrap {
  max-width: 960px;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top:0;
  z-index: 100;
  background: #fff;
  height: 65px;
}

.sp_header_wrap {
  width: 100%;
}

.sp_header_wrap .sp_header .header_inner {
  display: flex;
  height: 100%;
}

.sp_header_wrap .sp_header .header_logo {
  display: block;
  width; 100%;
  margin: 0 10px;
  position: relative;
}

.sp_header_wrap .sp_header .header_logo p {
  display: block;
  width: 100%;
  font-family: "futura";
  font-size: 30px;
  text-align: center;
}

.sp_header_wrap .header_menu {
  position: fixed;
  top:0;
  right: 0;
  width: 70px;
  height: 65px;
  padding: 20px 0 0;
  display: block;
  cursor: default;
  background: #fff;
  z-index: 1000;

}

.sp_header_wrap .header_menu .header_line{
  background: #000000;
  height: 2px;
  width: 25px;
  margin: 0 auto 7px;
  display: block;
  -webkit-transition: all 0.3s ease;
}

/*sp版のナビゲーションから書き始める */

.sp_header_nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(192, 212, 219, 0.9);
  padding: 100px 0 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
}

.sp_header_nav .header_nav ‘{
  overflow-y: scroll;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.sp_header_nav .header_nav .header_nav_item {
  margin: 0 0 35px;
}

.sp_header_nav .header_nav .header_nav_link {
  color: #000000;
  font-size: 23px;
  font-family: cursive;
  font-weight: bolder;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
}

.sp_header_nav .header_nav .header_nav_link:hover{
  color: #e38580;
}

.active span:nth-of-type(1){
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.active span:nth-of-type(2) {
  opacity: 0;
} 

.active span:nth-of-type(3) {
  -webkit-transform: translateY(-8.5px) rotate(315deg);
  transform: translateY(-8.5px) rotate(315deg);
}

.active {
  
}

/*content部分の今あるhtmlからcssを追加していく */

.content{
  width: 100%;
  margin-bottom: 10%;
  padding: 0 10% 0 0;
}

/* paddingを使ってbx_wrapの位置を決める */
.mv_wrap{
  position: relative;
  width: 66%;
  margin: 50px 15px 0 auto;
}


/*eye_chatch画像を表示させるクラス */
.bx-wrap{
  width: 100%;
  height: 100%;
}

.bx_wrap img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.top_tx{
  width: 450px;
  height: 600px;
  position: absolute;
  top: -10px;
  left: -250px;
}

@media only screen and (max-width: 1000px){
  .top_tx{
    position: absolute;
    top: -60px;
    left: -200px;
  }
}

.top_title{ 
  position: absolute;
  top: 90px;
  left: 20px;
}

.top_title h1{
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 20px;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: 0.3em; 
  -webkit-text-stroke: 2px black;
  font-family: "futura";
  color: #fff;
} 

.top_title p{
  font-size: 18px;
  font-weight: lighter;
  font-family: "futura(light)";
}

.top_sub {
  position: absolute;
  top: 270px;
  left:20px;
}

.top_sub img{
  width: 100px;
  height: 100px;
}

.point01{
  position: absolute;
  top: 135px;
  left: 5px; 
}

.top_sub ul li{
  margin-bottom: 35px;
  letter-spacing: 5px;
  font-family: "futura(light)";
  width: 170px;
}



.scroll_cont{
  position: absolute;
  bottom: -195px;
  right: -120px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .12em; 
  -webkit-transform: translateY(-25vh) rotate(90deg;);
  transform: translateY(-25vh) rotate(90deg);
  animation: hero-copy-in 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 3s;
}

.updown_scrl{
  font-family: "futura(lignt)";
  background:url(../static/images/a-bc.jpg) center bottom/5px 13px no-repeat;
  -webkit-animation: scroll 2s ease-out 0s infinite;
  animation: scroll 2s ease-out 0s infinite;   
}

.updown_scrl span{
  background: #fff;
  z-index: 2;
}

.scroll_point{
  position:absolute;
  bottom:-80px;
  right:-97px;
}

.scroll_point img{
  width: 25px;
  height: 30px;
}

@media only screen and (max-width: 1000px){
  .scroll_cont{
    position: absolute;
    bottom: -200px;
    right: -120px;
  }

  .scroll_point{
    bottom:-80px;
    right: -97px;
  }
}

.al01{
  margin-top: 130px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  height: 550px; 
}

@media only screen and (max-width: 1150px){
  .al01{
    margin-top: 200px;
  }
}

.al01_wrap{
  width: 100%;
}

.message01{ 
  margin: 70px -100px 0 250px;
  width: auto;
  padding: 45px 90px 90px  90px;
  background: #e7eff1;
  position: relative;
}


.al01_img{
 position: absolute;
 left: -250px;
 top: -100px;
 z-index: 2; 
}

.al01_img img{
  width: 300px;
  height: 250px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.message01_title h2{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.message01_title p{
  text-align: left; 
  font-family: "futura(light)";
  font-size: 14px;
  line-height: 1.5em;
}

.message01_title span{
  color: #FF9966;
  font-family: "futura"
}

/*アルバムセクションからCSSを追加していく */

.album{
  margin-left: 115px;
  margin-right: 115px;
}

.album_wrap{
  display: flex;
}

.album_title{
  font-family: "futura";
  font-size: 45px;
  letter-spacing: 3px;
}

.img_list_wrap{
  margin-left: 180px;
}

.list{
  margin-bottom: 30px;
  display: flex;
}

.list_inner{
  margin-right: 25px;
  width: 320px;
  height: 200px;
}

.list_inner img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.list_comment{
}

.list_comment h3{
  font-size: 26px;
  font-family: "futura";
  margin-bottom: 30px;
  color: #c0c0c0;
} 

.list_comment p{
  font-size: 16px;
  font-family: "futura(light)";
}

.slide{
  margin-top: 20%;
}

.slide_wrap{
 display: inline-flex;
 width: 100%;
}

.slide_tx{ 
  margin-left: 120px;
  margin-right: 120px;
}

.slide_tx_title{
  margin-bottom: 30px;
  font-family: "futura";
  font-size: 45px;
}

.slide_show{
  overflow: hidden;
  width: 65%;
}

.slide01{
  display: inline-flex;
}


.slide02{
  display: inline-flex;
}

.slide01 li {
  padding: 10px;
  display: table-cell;
  width: 100px;
  height: 100px;
}

.slide02 li{
  padding: 10px;
  display: table-cell;
  width: 100px;
  height: 100px;
}

.slide_show li img{
  width: 100%;
  height: 100%;
}



.slide_tx_point{
  font-family: "futura(light)";
  font-size: 18px;
  margin-bottom: 10px;
}

.love{

}

.love_wrap{
  text-align: center;
  margin-top: 130px;
}

.love_wrap h3{
  font-family: "futura";
  font-size: 40px;
}

@media only screen and (max-width: 830px){
  .message01{
    width: 100%;
    margin: 0 0 0 0;
  }

  .al01{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .img_list_wrap{
     margin-left: 10%;
   }

  .al01_img{
    position: absolute;
    top: -70px;
    left: -15px;
  }

  .al01_img img{
    width: 150px;
    height: 135px;
  }

  .album_wrap{
    display :block;
  }

  .album_title{
    text-align: center;
    margin-bottom: 30px;
  }

  .slide_wrap{
     display: block;
   }

   .slide_show{
     width: 100%;
     margin: 0 5% 0 5%;
   }

   .slide_tx{
     margin: 0 0 0 50px;
   }
}

@media only screen and (max-width: 630px){
  .message01_title h2{
    margin-top: 50px;
  }
}

@media only screen and (max-width: 730px){
  .top_title h1{
    font-size: 30px;
  }
  
  .top_title p{
    font-size: 12px;
  }

  .top_sub{
    position: absolute;
    left: 20px;
    top: 230px;
  }

  .point01{
    position: absolute;
    top: 115px;
    left: 5px;
  }

  .point01 li{
    font-size: 12px;
  }

  .top_sub img{
    width: 50px;
    height: 50px;
  }

  .scroll_cont{
    right: -100px;
  }

  .scroll_point{
    right: -77px;
  }
}

@media only screen and (max-width: 660px){
  .top_tx{
    left: -160px;
  }
}

@media only screen and (max-width: 560px){
  .top_tx{
     left: -120px;
   }
}

.fadein{
  opacity : 0;
  transform: translateY(20px);
  transition: all 3s;
}
